{% extends 'base.html' %}

{% block navbar %}
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="{{ url_for('event.booking_history') }}">Bookings</a>
              <a class="nav-link" href="{{ url_for('event.create') }}">Create Event</a>
{% endblock %}

{% block content %}
    <br>
<div class="container-fluid profile">
        <div class="row">
            <div class="col-lg-6 col-sm-8 userdetail text-start">     
                <h2 >User Detail:</h2>
                <div class="mb-3 row">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Username:</span>
                        <input type="text" class="form-control" value="{{current_user.name}}" readonly aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Email:</span>
                        <input type="text" class="form-control" value="{{current_user.emailid}}" id="name" readonly>
                    </div>
                </div>
            </div>
        </div>
    <hr>
    <h1 class = text-center>Booking History</h1>
    {% if bookings == [] %}
    <p class = text-center>You have no bookings.</p>
    {% else %}
        {% for booking in bookings %}
        <div class = "row justify-content-center p-3">
            <div class = "col-10">
                <div class="card mb-3 rounded shadow border border-secondary border-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <a href="{{ url_for('event.show', id=booking.event.id) }}" class="stretched-link"></a>
                        <img src="{{booking.event.image}}" class="img-fluid" style = "width:500px; height:180px;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{booking.event.name}}</h5>
                          <p class="card-text">Booking ID: {{booking.id}}<br>
                            Booking Date: {{booking.purchase_date.strftime('%d/%m/%y')}}<br>
                            Event Date: {{booking.event.event_date.strftime('%d/%m/%y')}}<br>
                            Remember to bring your ticket!</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}