{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block navbar %}
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="{{ url_for('event.booking_history') }}">Bookings</a>
              <a class="nav-link" href="{{ url_for('event.create') }}">Create Event</a>
{% endblock %}

{% block content %}
    <div class = "container-fluid">
        <div class = "row gy-4">
            <div class = "col-md-8 event-detail">
                <br><br>
                <h1>{{event.name}}</h1>
                <div class = "row">
                    <img src = "{{event.image}}" style = "width:400px; height:250x;">
                </div>
                
                <br>
                {% if event.user != current_user %}
                <div class = "row">
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style = "width:300px;">Book Now!
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Purchase Tickets</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class = "row justify-content-center">
                              <div class = "col-4">
                                {{render_form(bookform,"/events/{0}/book".format(event.id))}}
                              </div>
                            </div><br>
                            <div class = "row justify-content-center">
                              <div class = "col-4">
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
                {% endif %}
                <h1 class = "detailsheader">Description: </h1>
                <p class = "detailspara">{{event.description}}</p>
                <hr>
                <div class="col-lg-5 col-sm-8">
                  <h1 class = "detailsheader">Event details:</h1>
                  {% if event.user == current_user %}
                  <h4> <a href="{{ url_for('edit.edit', id=event.id) }}">Click here to edit your event</a></h4>
                  {% endif %}
                  <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Participating Artist: </li>
                      <li class="list-group-item">{{event.artist}} </li>
                  </ul>
                  <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Location / Venue: </li>
                      <li class="list-group-item">{{event.location}} </li>
                  </ul>
                  <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Time / Date: </li>
                      <li class="list-group-item">{{event.event_date}} {{event.time}} </li>
                  </ul>
                  <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Tickets available: </li>
                      <li class="list-group-item">{{event.tickets_left}} </li>
                  </ul>
                  <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Category / Genre: </li>
                      <li class="list-group-item">{{event.genre}} </li>
                  </ul>
              </div>
            </div>
            <div class = "col-md-4 container-fluid">
                <br><br>
                
                <br><br><br><br><br>
                <h1 class = "detailsheader">Comments</h1>
                <div class = "row">
                    <div class = "container-fluid">
                      {{render_form(form,"/events/{0}/comment".format(event.id))}}
                    </div>
                </div>
                {% for comment in event.comments %}
                <div class = "row">
                    <div class="card border-light col-10 commentbg">
                        <div class="card-body">
                          <div class="d-flex flex-row align-items-center">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><b>{{comment.user.name}}</b><br>{{comment.text}}</li>
                            </ul> <br>
                            Posted on: {{comment.created_at.strftime('%d/%m/%y')}}
                          </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}