{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% from "bootstrap5/form.html" import render_field %}

{% block navbar %}
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="{{ url_for('event.booking_history') }}">Furnitures</a>
              <a class="nav-link" href="{{ url_for('event.create') }}">Add Furnitures</a>
{% endblock %}
{% block loginregister %}
{% if heading|lower =='login' %}

                <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
                <a class="nav-item nav-link active" href="{{ url_for('auth.login') }}">Log In</a>
{% else %}
                <a class="nav-item nav-link active" href="{{ url_for('auth.register') }}">Register</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In</a>
{% endif %}
{% endblock %}

{% block content %}


<br>
<div class="page-header">
    <h1 class = text-center>{{heading}}</h1>
</div>

<!-- Form rendering is simple and easy if using bootstrap -->
<div class = "container-fluid">
    <div class = "row justify-content-center">
        <div class="mb-3 col-sm-6 form-group">
            {{ render_form(form) }}
        </div> 
    </div>
<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
    <div class = "row justify-content-center">
        <div class="mb-3 col-sm-6 form-group">
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        </div>
    </div>
    {% elif heading|lower == 'logged_in' %}
    <div class="cart-header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPLhYqfPkZYqYUpnE50QRYoEfhtu3O1EJwAQ&s" alt="Cart Icon">
        <span>Cart</span>
    </div>
    <div class="cart-container">
        <body>Seating</body>
        <div class="cart-item">
            <img src="https://www.ceofficeconcepts.com.au/images/products/seating/meeting-room-chairs/amelie/amelie-black-leather.jpg" alt="Product Image">
            <div class="cart-item-details">
                <h3>Product Name: Amelie</h3>
                <label for="quantity">Quantity:</label><input type="number" id="quantity" name="quantity" min="1" max="20">
                <p>Color: Black</p>
                <p>Price is available upon quote request</p>
            </div>
            <input type="checkbox" checked>
        </div>
        <div class="cart-item">
            <img src="https://www.ceofficeconcepts.com.au/images/products/seating/meeting-room-chairs/amelie/amelie-tan-leather.jpg" alt="Product Image">
            <div class="cart-item-details">
                <h3>Product Name: Amelie</h3>
                <label for="quantity">Quantity:</label><input type="number" id="quantity" name="quantity" min="1" max="20">
                <p>Color: Orange</p>
                <p>Price is available upon quote request</p>
            </div>
            <input type="checkbox" checked>
        </div>
        <body>Sofa</body>
        <div class="cart-item">
            <img src="https://www.ceofficeconcepts.com.au/images/products/sofas-lounges/ola-low-back-sofa-2-seater-pronto/ola-low-back-sofa-2-seater-pronto.jpg" alt="Product Image">
            <div class="cart-item-details">
                <h3>Product Name: Ola Low Back Sofa - 2 Seater</h3>
                <label for="quantity">Quantity:</label><input type="number" id="quantity" name="quantity" min="1" max="20">
                <p>Color: Grey</p>
                <p>Price is available upon quote request</p>
            </div>
            <input type="checkbox" checked>
        </div>
        <body>Office Storage</body>
        <div class="cart-item">
            <img src="https://www.ceofficeconcepts.com.au/images/products/office-storage/office-storage-bookcase/bosley-storage-unit/bosley-storage-unit.jpg" alt="Product Image">
            <div class="cart-item-details">
                <h3>Product Name: Bosley Storage Unit</h3>
                <label for="quantity">Quantity:</label><input type="number" id="quantity" name="quantity" min="1" max="20">
                <p>Color: Black</p>
                <p>Price is available upon quote request</p>
            </div>
            <input type="checkbox">
        </div>
    </div>

    <div class="check-out">
        <button id="checkout-button" onclick="showPaymentPage()">Check Out</button>
    </div>
    <div id="payment-page" class="hidden">
        <form class="payment-form full-width">
            <label>Payment Method</label>
            <div>
                <button type="button">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRACOilOgFVZQN1vWCnGeyq6pQrEmriZAPRLg&s" alt="PayPal">
                </button>
                <button type="button">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlpbkKn2ILtkrTtFHvoVcNv-Q4JDavKoXuQA&s" alt="Credit Card">
                </button>
            </div>
            <label>Card Number</label>
            <input type="text" placeholder="Enter your Card Number">
            <body>CVC</body>
            <input type="text" placeholder="Enter your CVC">
            <body>Card Holder Name</body>
            <input type="text" placeholder="Enter your Card Holder Name">
            <body>Request Quote Number</body>
            <input type="text" placeholder="Enter your Request Quote Number">
            <body>Full Name</body>
            <input type="text" placeholder="Enter your Full Name">
            <body>Email</body>
            <input type="email" placeholder="Enter your Email">
            <body>Phone Number</body>
            <input type="tel" placeholder="Enter your Phone Number">
            <body>Address</body>
            <input type="text" placeholder="Enter your Address">
        </form>
    </div>
{% endif %}
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="footer-container">
        <div class="footer-section company-info">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="CEOffice Concepts Logo" class="logo">
            <p>ABN: 85 660 232 762</p>
        </div>

        <div class="footer-section contact-info">
            <h3>Company</h3>
            <p>Phone: 1300 507 511</p>
            <p><a href="mailto:sales@ceofficeconcepts.com.au">sales@ceofficeconcepts.com.au</a></p>
        </div>

        <div class="footer-section office-info">
            <h3>Head Office</h3>
            <p>131A Herries Street</p>
            <p>Toowoomba City QLD 4350</p>
            <h3>Brisbane Office</h3>
            <p>Brighton QLD 4017</p>
            <p>Contact Brisbane Sales at</p>
            <p><a href="tel:0417368806">0417 368 806</a> for showroom bookings.</p>
        </div>

        <div class="footer-section social-media">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><img src="{{ url_for('static', filename='img/facebook-icon.png') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/instagram-icon.png') }}" alt="Instagram"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/linkedin-icon.png') }}" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
